body 
{
    background-color: #eed4ff;
}

header {
    text-align: center;
    font-size: 50px;
}
h1 {
    text-shadow: 5px 5px 2px gray;
}


ul{
    margin: 10px;
    list-style-type: none;
    overflow:hidden;
}
ul li{
    float: inherit;
}
ul li a {
        text-decoration: none;
        font-size: 25px;
}

article {
    text-align: center;
    font-size: 20px;
}

footer 
{
    font-size: 20px;
    text-align:center;
    margin-top: 70px;
    bottom: 0;
}
